/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/css/filament/
/public/js/filament/
/public/fonts/filament/
/storage/*.key
/storage/pail
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
database/database.sqlite
/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore
